/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Apply styles to HTML and body */
::-webkit-scrollbar{
    width: 1px;
   height: 5px;
}
::-webkit-scrollbar-track{
    background:transparent;
}
::-webkit-scrollbar-thumb{
   background: rgb(55 65 81);
}